block variables 
doctype html 
html 
  head 
    meta(charset="utf-8")
    link(rel="icon", type="image/x-icon", href="../public/img/favicon.ico")
    link(rel="stylesheet", href="../public/css/style.css")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    script(src="https://kit.fontawesome.com/2c8660a4ac.js" crossorigin="anonymous")
    
    script(type="module" src="../public/js/app.js" defer) 
    title #{title} | TEST 
  
  body 
    div#root 
      block layout-content