include mixins

.view
  //- (style=`background-image: url(${exp.bgimg})`)
  .container.has-text-centered.is-max-desktop
    //-#heading.title.is-1.has-text-centered Final Fantasy XIV Duty Tracker
    figure.image
      img(src=exp.image)
  .content.tile.is-parent
    .columns.is-multiline
      //- Collection of duty groups
      each collection in exp.collections
        +duty-group-container(collection)