@keyframes grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}

@mixin shine {
  &::before {
    z-index: 1;
    content: "";
    position: absolute;
    top: -210%;
    left: -210%;
    width: 200%;
    height: 400%;
    opacity: 0;
    transform: rotate(30deg);

    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.13) 77%,
      rgba(255, 255, 255, 0.5) 92%,
      rgba(255, 255, 255, 0) 100%
    );

    // Animate shine effect
    animation-name: shine-anim;
    animation-duration: 0.7s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
  }
}

@keyframes shine-anim {
  0% {
    top: -210%;
    left: -210%;
    opacity: 0;
  }

  15% {
    opacity: 1;
  }

  100% {
    top: 25%;
    left: 60%;
  }
}

.stamp {
  content: "";
  z-index: 1;
  background-image: url("/assets/img/caseclosed.svg");
  background-repeat: no-repeat;
  background-position: center top;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0%;
  top: 0%;
  animation-name: stamp-anim;
  animation-delay: 0s;
  animation-duration: 0.3s;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes stamp-anim {
  0% {
    opacity: 0;
    transform: scale(3);
  }
  10% {
    opacity: 0.5;
    transform: scale(3);
    transition: all 0.3s cubic-bezier(0.44, 0.14, 0.83, 0.22);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes arrow-shine {
  from {
    background-position: 0px;
  }

  to {
    background-position: -184px;
  }
}
