@use "@/assets/sass/variables" as *;
$gold-fill: #9e8b46;
$gold-shadow: #664801;
$silver-fill: #c6d2df;
$silver-shadow: #4b4b4b;

@font-face {
  font-family: "Jupiter Pro Bold";
  src: url("@/assets/font/JupiterPro-Bold.woff2") format("woff2"),
    url("@/assets/font/JupiterPro-Bold.woff") format("woff");
}

@font-face {
  font-family: "Jupiter Pro Regular";
  src: url("@/assets/font/JupiterPro-Regular.woff2") format("woff2"),
    url("@/assets/font/JupiterPro-Regular.woff") format("woff");
}

@font-face {
  font-family: "Eurostile Regular";
  src: url("@/assets/font/EurostileRegular.woff2") format("woff2"),
    url("@/assets/font/EurostileRegular.woff") format("woff");
}

@font-face {
  font-family: "Eurostile Bold";
  src: url("@/assets/font/EurostileBold.woff2") format("woff2"),
    url("@/assets/font/EurostileBold.woff") format("woff");
}

@mixin vcenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin bevel($text-color, $bevel-color, $highlight-color) {
  @supports (-moz-appearance: none) {
    // Support only Firefox for this one
    -webkit-text-stroke: 0.005em $highlight-color;
  }
  -webkit-text-fill-color: transparent;
  color: rgba($text-color, 1);
  text-shadow: -0.04em 0.04em 0.03em $bevel-color, 0 0 0 $highlight-color,
    0 0.04em 0.02em $text-color, 0em 0.1em 0.3em black;
  position: relative;
  z-index: 0;
}

@mixin contained-bg {
  background: {
    repeat: no-repeat;
    size: cover;
  }
}

@mixin metal-border {
  border: {
    style: ridge;
    width: 4px;
    radius: 0.8em;
    color: #dedede #c5c5c5;
  }
}

@mixin gold-border {
  border: {
    //image: url("@/assets/img/theme/frame_gold.png");
    width: 4px;
    radius: 0.8em;
    //color: #9b7e52 #746035;
  }
  border-image-source: url("@/assets/img/theme/frame_gold.png");
  border-image-width: 1em;
  border-image-slice: 30%;
}

@mixin fill-element {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}

@mixin backgroundGlow($color) {
  background-image: radial-gradient(
    ellipse at center,
    $color 0%,
    transparent 100%
  );
}

@mixin skew($deg) {
  transform: skewX(-$deg);
  -ms-transform: skewX(-$deg);
  -webkit-transform: skewX(-$deg);
  -webkit-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  transform-origin: bottom left;

  background-color: inherit;
  position: relative;
  left: -5%;
  overflow: clip;

  &::before {
    // Background image
    content: "";
    transform: skewX($deg);
    -ms-transform: skewX($deg);
    -webkit-transform: skewX($deg);
    -webkit-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    transform-origin: bottom left;

    position: absolute;
    width: 150%;
    height: 100%;
    left: 0%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: 30%;
    transition: all 0.25s ease;
  }
}

@mixin scale-on-hover($amount, $time) {
  transition: transform $time ease-in-out;

  &:hover {
    transform: scale($amount);
  }
}

@mixin indent-on-hover($amount, $time) {
  transition: padding $time ease-in-out;
  &:hover {
    padding-left: calc($amount);
  }
}

@mixin faded-hr {
  margin: initial;
  position: relative;
  left: 2%;
  width: 96%;
  border: 0;
  height: 1px;
  background: #333;
  background-image: $hr-gradient;
}
