@use "variables" as *;

.modal-card {
  // &:before {
  //   @include fill-element;
  //   // border-style: solid;
  //   // border-image-source: url("/assets/img/theme/frame_lodestone.png");
  //   // border-image-slice: 25%;
  //   // border-image-width: 3em;
  //   // border-radius: 1em;
  //   @include gold-border;
  //   z-index: 1;
  // }

  @include gold-border;
  @include contained-bg;
  background-image: linear-gradient(#565759 0%, #2f2f2c 20%);

  .box {
    //background-image: linear-gradient(#565759 0%, #2f2f2c 20%);
    background: #202020;
    p,
    summary {
      font-size: 1.1em;
    }
  }

  .modal-card-head,
  .modal-card-body,
  .modal-card-foot {
    border: none;
    background: none;
    p,
    summary {
      font-family: "Eurostile Regular", Arial, Helvetica, sans-serif;
      color: white;
    }
  }

  hr {
    margin: initial;
    position: relative;
    left: 2%;
    width: 96%;
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(
      to right,
      #333,
      #ccc 30%,
      #ccc 70%,
      #333 100%
    );
  }
}
