@charset "utf-8";
@use "../node_modules/bulma/bulma.sass" as b;
@use "animations" as *;
@use "variables" as *;
@use "theme" as *;

.view {
  background-image: url("../img/Aether.png");
}

#settingsButton {
  position: absolute;
  right: 0;
  background: none;
  border: none;
  transition: all 0.1s ease-in-out;
  &:hover {
    transform: scale(0.95);
  }
  cursor: pointer;
}

.column {
  &[duty-type="special"] {
    //@include vcenter;
    background: {
      repeat: no-repeat;
      size: contain;
      position: {
        x: center;
        y: top;
      }
    }
    //flex: 1 1 0;

    .duty-group {
      //@include vcenter;
      flex-grow: inherit;
      z-index: 0;
      background-color: rgba(0, 0, 0, 0);
      position: relative; /* Required so the absolute pos of
      the :after has a reference to latch onto */

      &:after {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0%;
        right: 0%;
        left: 0%;
        height: 100%;
        background: {
          image: url("../img/tornpaper.png");
          color: rgba(0, 0, 0, 0);
          position: center bottom;
          repeat: no-repeat;
          size: cover;
        }
        mask: linear-gradient(0deg, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 90%);
        -webkit-mask: linear-gradient(
          0deg,
          rgba(0, 0, 0, 1) 50%,
          rgba(0, 0, 0, 0) 90%
        );
      }
    }
  }

  &:not([duty-type="special"]) {
    .duty-group {
      @include metal-border;
      background: #08084e9f;
    }
  }
}

.fill-element {
  @include fill-element;
}

.duty {
  height: 100%; // Fix to make column content full-height
  // Background
  @include contained-bg;
  background-image: url("../img/canvas.jpg");
  background-size: cover;
  background-position: center center;
  overflow: clip;
  cursor: pointer;

  // Theme
  @include metal-border;

  .duty-title {
    font-family: "Jupiter Pro Regular";
    @include bevel($silver-fill, $silver-shadow, white);
  }
  .duty-content {
    font: {
      family: "Eurostile Regular";
      size: 1.2em;
    }
  }

  .complete img {
    transition: all 0.5s ease;
    -webkit-filter: grayscale(100%) brightness(100%);
    filter: grayscale(100%) brightness(100%);
    //opacity: 0.6;
  }

  // Animation
  transition: all 0.1s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }

  // Image
  .duty-image .image img {
    border-radius: 1em 1em 0 0;
    -webkit-mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 0, 0, 0)
    );
  }
  &.raid {
    padding: 0;
    position: relative;
    .raid-content > div {
      padding-block-start: b.$box-padding;
      padding-block-end: b.$box-padding;
    }
    .raid-image .image {
      img {
        height: 100%;
      }
      height: 100%;
      border-radius: 0 1em 1em 0;
      -webkit-mask-image: linear-gradient(
        to left,
        rgba(0, 0, 0, 1) 80%,
        rgba(0, 0, 0, 0)
      );
    }
  }
}

.X {
  max-height: 100%;
  width: auto;
}

.raid-set-title-container {
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: {
    style: ridge;
    width: 4px;
    radius: 2em;
    color: #dedede #c5c5c5;
    top: none;
    left: none;
    bottom: none;
  }
}

.raid-set-title {
  font-family: "Jupiter Pro Regular";
  @include bevel($gold-fill, $gold-shadow, white);
  -webkit-font-smoothing: subpixel-antialiased;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

#heading,
.group-title {
  font-family: "Jupiter Pro Regular";
  @include bevel($gold-fill, $gold-shadow, white);
  -webkit-font-smoothing: subpixel-antialiased;
}

.shine {
  @include shine;
}
