@charset "utf-8";
@use "variables" as *;
@use "../node_modules/bulma/bulma.sass" as *;
@use "animations" as *;
@use "mixins" as *;
@use "theme" as *;

@import "@creativebulma/bulma-tooltip";

.duty {
  .complete img {
    transition: all 0.5s ease;
    -webkit-filter: grayscale(100%) brightness(100%);
    filter: grayscale(100%) brightness(100%);
  }

  &:not([data-dutytype="special"]) {
    height: 100%; // Fix to make column content full-height
    // Background
    @include contained-bg;
    background-image: url("@/assets/img/canvas.jpg");
    background-size: cover;
    background-position: center center;

    // Animation
    transition: all 0.1s ease-in-out;
    // &:hover {
    //   transform: scale(1.05);
    // }

    // Theme
    @include metal-border;

    .duty-title {
      font-family: "Jupiter Pro Regular";
      @include bevel($silver-fill, $silver-shadow, white);
      justify-content: center;
    }
  }
}

.reward {
  overflow: clip;
}

.objective-container,
.reward-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  h5 {
    font-family: "Eurostile Regular";
  }
}

.shine-target,
.stamp-target {
  @include fill-element;
  overflow: clip;
  pointer-events: none;
}

.tooltip-target {
  @include fill-element;
  top: -100%;
  pointer-events: all;
}

.shine {
  @include shine;
}
.fill-element {
  @include fill-element;
}

.X {
  max-height: 100%;
  width: auto;
}

.click-target {
  cursor: pointer;
}

.classified {
  -webkit-filter: grayscale(100%) brightness(0%);
}
