$tooltip-font-family: "Eurostile Regular";
$tooltip-font-size: 1em;
$tooltip-radius: 10px;
$navbar-background-color: black;

// Personal Variables
$ff-blue: #08084e9f;
$navbar-fg: #111111;
$navbar-bg: #222222;
$hr-gradient: linear-gradient(to right, #333, #ccc 30%, #ccc 70%, #333 100%);
$menu-gradient: linear-gradient(#565759 0%, #2f2f2c 20%);
